/* Стили для страницы логина */
.login-container {
    text-align: center;
    margin-top: 50px;
}

.login-container form {
    width: 300px;
    margin: 0 auto;
}

.login-container label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
}

.login-container input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ff6347;
}

.register-link {
    margin-top: 15px;
    text-align: center;
}

.register-link a {
    color: #007BFF;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}
