<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="stylesheet" href="static/css/index.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/login">Авторизация</a></li>
                <li><a href="/tests">Тесты</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="intro">
            <h1>Добро пожаловать на <strong>LinguaMaster</strong>! 🌍✨</h1>
            <p>Этот сайт поможет вам легко и весело выучить иностранные слова! 📚💡</p>
            <p>Мы предоставляем тесты, которые помогут проверить и укрепить ваши знания. 🧠</p>
            <p>Присоединяйтесь к нашей дружной языковой семье уже сегодня! 🌟</p>

            <h2>Чем мы полезны?</h2>
            <ul>
                <li>🌟 <strong>Обучение через игру:</strong> изучайте слова в интересной форме.</li>
                <li>🕹️ <strong>Проверка знаний:</strong> участвуйте в тестах и проверяйте свои переводы.</li>
                <li>📊 <strong>Прогресс в реальном времени:</strong> отслеживайте свои результаты и улучшайте навыки.</li>
            </ul>

            <h2>С чего начать?</h2>
            <ol>
                <li>🔑 <strong>Зарегистрируйтесь.</strong></li>
                <li>🖊️ <strong>Пройдите свой первый тест.</strong></li>
                <li>🎉 <strong>Наслаждайтесь успехами в изучении языка!</strong></li>
            </ol>

            <div class="image-container">
                <img src="static/images/learning.jpg" alt="Learning" class="intro-image">
                <img src="static/images/goal.jpg" alt="Goal" class="intro-image">
            </div>
        </section>
    </main>

    <footer>
        <p>© 2025 Все права защищены.</p>
    </footer>
</body>
</html>
